/* #region general */
body {
    background-color: #121212;
    color: white;
    padding: 20px 2.5%;
}

button {
    cursor: pointer;
}
/* #endregion */

/* #region search-bar */
.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    width: 100%; 
}

#search-bar-btn {
    width: 92%;
    background: none;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: medium;
}

#search-bar-options {
    background: #121212; 
    position: absolute;   
    top: 100%;   
    z-index: 2;
    width: 90%;
    overflow-y: auto;
    margin-top: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    max-height: 200px;
    display: none;
}

.search-bar-options-item  {
    padding: 0px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar-options-item-title {
    font-size: small;
    padding: 10px 0px;
    margin: 0px;
}

.search-bar-options-item-desc {
    font-size: x-small;
    padding: 0px;
    margin: 0px;
}

.search-bar-options-item:hover {
  background: gray;
}
/* #endregion */

/* #region videos-containers */
h2 {
    font-size: larger;
}

#models-wrapper {
    margin-top: 40px;
}

.videos-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    gap: 5%;
}

.videos-container-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.videos-container-individual video {
    width: 100%;
    height: 200px;
    pointer-events: none; 
}

.videos-container-individual video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

.videos-container-individual video::-moz-media-controls-fullscreen-button {
    display: none !important;
}

.video-title {
    font-size: medium;
}
/* #endregion */

/* #region video-modal */
#video-modal {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121212;
    z-index: 100;
}

.video-modal-video-container {
    display: flex;
    flex-direction: row;
    column-gap: 2.5%;
    max-width: 100vw;
    height: 100%;
    padding: 0px 2.5% 10px 2.5%;
    overflow-y: hidden;
}

.video-modal-video-container-previous, .video-modal-video-container-next {
    height: 100%;
    display: flex;
    align-items: center;
}

#video-modal-video-container-previous-btn, #video-modal-video-container-next-btn {
    font-size: 75px;
    font-weight: bold;
    background: none;
    border: none;
    color: white;
}

.video-modal-video-container video {
    width: 100%;
    height: 100%;
    pointer-events: auto; 
}

.video-modal-close {
    display: flex;
    justify-content: flex-end;
    padding: 0px 5%;
    margin: 0px;
}

#video-modal-close-btn {
    background: none;
    border: none;
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 60px;
}
/* #endregion */

/* #region paywall-modal */
#paywall-modal {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
}

.paywall-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    text-align: center;
    font-size: large;
    height: 100%;
    width: 75%;
    color: white;
}

.paywall-modal-content-close {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 5%;
    margin: 0px;
}

#paywall-modal-content-close-btn {
    background: none;
    border: none;
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}

.paywall-modal-content-details {
    padding: 0px 2.5% 30px 2.5%;
}

.paywall-modal-content-details-unlock-text {
    margin-top: 15px;
    font-size: larger;
}

#paywall-modal-content-details-phone-number-input {
    width: 80%;
    font-size: larger;
    padding: 10px;
    margin-top: -5px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.paywall-modal-content-details-phone-number-invalid-error {
    color: red;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 0px;
    display: none;
}

#paywall-modal-content-details-pay-btn {
    margin-top: 30px;
    width: 80%;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 2px;
}

.paywall-modal-content-please-wait {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.paywall-modal-content-please-wait-spinner {
  animation: spin 1s linear infinite;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
}
/* #endregion */

@media screen and (min-width: 990px) {
#search-bar-btn {
    width: 82%;
}
}